<article class="question" data-author-id=<%= question.author.id %> >
  <div class="title">
    <div><%= question.title %></div>
    <div><%= question.author&.email %></div>
  </div>
  <div class="body">
    <%= question.body %>
  </div>
  <div class="links">
    <%= link_to "Show (#{question.answers.count} answers)...", question_path(question) %>
    <%= link_to current_user.has_subscribtion?(question) ? "Unsubscribe!" : "Subscribe for news!", subscribe_question_path(question), method: :put if current_user %>
    <%= button_to "Delete", question_path(question), method: :delete, class: "deleteBtn controlBtn" %>
  </div>
</article>
